*{
    overflow-x: hidden;
}

.myContainer{
    max-width: 1500px !important;
    margin: 0 auto;
}

a{
    text-decoration: none !important;
}

.modal-75w{
    width: 50%!important;
    max-width: none !important;
}